/* add your CSS here */

* {
	box-sizing: border-box;
}
body{
	font-family: Helvetica, Arial, sans-serif;
}

ul {
	list-style-type: none;
	padding-left: 0;
}

.card{
	width: 340px;
	border: 1px solid #ddd;
	border-radius: 4px;
	box-shadow: 5px 5px 15px 0px rgba(153,153,153,0.5);
}

.top {
	margin-left: 20px;
}


.middle {
	margin: 20px 20px 20px 20px;
}

.bottom {
	border: 1px solid #ddd;
	padding: 20px;
	margin: 20px 20px 20px 20px;
}

.facts{
	font-style: italic;
}

.label{
	font-weight: bold; 
}
