.content{
    display: flex;
    flex-wrap: wrap;
}



@media screen and (max-width: 549px){

.header__logo{
    height: 50px;
    margin-right: 0.5em;
}

.header__title{
    font-size: 2em;
    margin-left: 0px;
    /*learn*/
    vertical-align: bottom;
}

}